
<ion-view hide-nav-bar="true" class="viewbackgroundcolor">
    <ion-content overflow-scroll="true" style="overflow: hidden">

            <div class="container">
                <h1 class="{{myclass}}" style="color: white;">考勤助手</h1>

                <div ng-if="!show">
                    <form class="form"  ng-model="form">
                        <input class="input" type="text" ng-model="user.number"  placeholder="账号">
                        <input class="input" type="password" ng-model="user.password"  placeholder="密码">
                        <button class="button mybutton" ng-click="myalert()" style="border: 0">
                            <i class={{typeion}} style="float:left;margin-left:35%;font-size: 35px;"></i>
                            <span style="float:left;margin-left:{{floatm}}">{{type}}</span>
                        </button>
                        <button class="loginbutton"  ng-click="login()">登陆</button>

                    </form>
                </div>
            </div>

            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

    </ion-content>
</ion-view>