<ion-view view-title="首页">
    <!--<ion-content direction="x">-->

        <!--<div class="jiugon" align="center" style="float: left;">-->

        <!--</div>-->

        <!--<div class="longitudinaldivfirst" style="float: left;height: 28.5vh"></div>-->
        <!--<div class="jiugon" align="center" style="float:left;" ng-click="course()">-->
            <!--<div class="iconspan">-->
                <!--<i class="ion-ios-list-outline" style="font-size: 70px;"></i>-->
                <!--<br/>-->
                <!--<span>调课申请</span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="longitudinaldivfirst" style="float: left;height: 28.5vh"></div>-->
        <!--<div class="jiugon" align="center" style="float: right;">-->

        <!--</div>-->

        <!--<div style="clear: both" class="transversediv"></div>-->
        <!--<div class="jiugon" align="center" style="float: left;" ng-click="attendance()">-->
            <!--<div class="iconspan">-->
                <!--<i class="ion-ios-calendar-outline" style="font-size: 70px;"></i>-->
                <!--<br/>-->
                <!--<span>班级考勤</span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="longitudinaldivsecond" style="float: left;height: 28.5vh"></div>-->
        <!--<div class="jiugon" align="center" style="float: left;" ng-click="send()">-->
            <!--<div class="iconspan">-->
                <!--<i class="ion-ios-email-outline" style="font-size: 70px;"></i>-->
                <!--<br/>-->
                <!--<span>信息发送</span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="longitudinaldivsecond" style="float: left;height: 28.5vh"></div>-->
        <!--<div class="jiugon" align="center" style="float: right;" ng-click="classmates()">-->
            <!--<div class="iconspan">-->
                <!--<i class="ion-ios-people-outline" style="font-size: 70px;"></i>-->
                <!--<br/>-->
                <!--<span>我的班级</span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div style="clear: both" class="transversediv"></div>-->
        <!--<div class="jiugon" align="center" style="float: left;">-->

        <!--</div>-->

        <!--<div class="longitudinaldivthird" style="float: left;height: 28.5vh"></div>-->
        <!--<div class="jiugon" align="center" style="float: left;" ng-click="leavereview()">-->
            <!--<div class="iconspan">-->
                <!--<i class="ion-android-checkbox-outline" style="font-size: 70px;"></i>-->
                <!--<br/>-->
                <!--<span>请假审核</span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="longitudinaldivthird" style="float: left;height: 28.5vh"></div>-->
        <!--<div class="jiugon" align="center" style="float: right;">-->

        <!--</div>-->


        <ion-content overflow-scroll="true" style="overflow: hidden">
            <table style="width: 100%;" ng-style="{height: screenheight + 'px'}">
                <tr>
                    <!--<td valign="center" style="width:33.1%;height:{{jiugongeheight}}+'px';background-color: #339999;text-align: center">-->
                    <!--</td>-->
                    <!--<td valign="center" style="width:33.1%;height:{{jiugongeheight}}+'px';background-color: #339999;text-align: center" ng-click="leave()">-->
                        <!--<div class="longitudinaldivfirst" style="width:2px;height: 100%;float: left"></div>-->
                        <!--<div style="color: white;margin-top: 10vh" ng-click="course()">-->
                            <!--<i class="ion-ios-list-outline" style="font-size: 70px;"></i>-->
                            <!--<br/>-->
                            <!--<span>调课申请</span>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td style="width:33.1%;height: {{jiugongeheight}}+'px';background-color: #339999">-->
                        <!--<div class="longitudinaldivfirst" style="width:2px;height: 100%;float: left"></div>-->
                        <!--<div style="color: rgba(255, 255, 255, 0);margin-top: 10vh">-->
                            <!--<i class="ion-ios-list-outline" style="font-size: 70px;"></i>-->
                            <!--<br/>-->
                            <!--<span></span>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr style="height: 2px">-->
                    <!--<td colspan="3"><div style="clear: both" class="transversediv"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td valign="cener" style="width:33.1%;height:{{jiugongeheight}}+'px';background-color: #339999;text-align: center" ng-click="MySchedule()">-->

                        <!--<div style="color: white;margin-top: 10vh" ng-click="attendance()">-->
                            <!--<i class="ion-ios-calendar-outline" style="font-size: 70px;"></i>-->
                            <!--<br/>-->
                            <!--<span>班级考勤</span>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td valign="cener" style="width:33.1%;height:{{jiugongeheight}}+'px';background-color:#339999;text-align: center" ng-click="sign()">-->
                        <!--<div class="longitudinaldivsecond" style="width:2px;height: 100%;float: left"></div>-->
                        <!--&lt;!&ndash;<div class="" style="width:2px;float: left;background-color: red;height:100%;"></div>&ndash;&gt;-->
                        <!--<div style="color: white;margin-top: 10vh"  ng-click="send()">-->
                            <!--<i class="ion-ios-email-outline" style="font-size: 70px;"></i>-->
                            <!--<br/>-->
                            <!--<span>信息发送</span>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td valign="cener" style="width:33.1%;height:{{jiugongeheight}}+'px';background-color: #339999;text-align: center" ng-click="classmates()">-->
                        <!--<div class="longitudinaldivsecond" style="width:2px;height: 100%;float: left"></div>-->
                        <!--<div style="color: white;margin-top: 10vh" ng-click="classmates()">-->
                            <!--<i class="ion-ios-people-outline" style="font-size: 70px;"></i>-->
                            <!--<br/>-->
                            <!--<span>我的班级</span>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr style="height: 2px">-->
                    <!--<td colspan="3" style="background-color: #339999"><div style="clear: both" class="transversediv"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td valign="cener" style="width:33.1%;height:{{jiugongeheight}}+'px';background-color: #339999;text-align: center">-->

                    <!--</td>-->
                    <!--<td valign="cener" style="width:33.1%;height:{{jiugongeheight}}+'px';background-color: #339999;text-align: center" ng-click="myteachers()">-->
                        <!--<div class="longitudinaldivthird" style="width:2px;height: 100%;float: left"></div>-->
                        <!--<div style="color: white;margin-top: 10vh" ng-click="leavereview()">-->
                            <!--<i class="ion-android-checkbox-outline" style="font-size: 70px;"></i>-->
                            <!--<br/>-->
                            <!--<span>请假审核</span>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td valign="cener" style="width:33.1%;height:{{jiugongeheight}}+'px';background-color: #339999;text-align: center">-->
                        <!--<div class="longitudinaldivthird" style="width:2px;height: 100%;float: left"></div>-->
                        <!--<div style="color: rgba(255, 255, 255, 0);margin-top: 10vh">-->
                            <!--<i class="ion-ios-list-outline" style="font-size: 70px;"></i>-->
                            <!--<br/>-->
                            <!--<span></span>-->
                        <!--</div>-->
                    <!--</td>-->
                    <td  ng-click="attendance()" style="height: {{sigongeheight}}+'px';width:50%;background-color: #339999;text-align: center">
                        <div style="color: white;margin-top: 10vh" ng-click="attendance()">
                        <i class="ion-ios-calendar-outline" style="font-size: 70px;"></i>
                        <br/>
                        <span>班级考勤</span>
                        </div>
                    </td>
                    <td ng-click="send()" style="height: {{sigongeheight}}+'px';width:50%;background-color: #339999;text-align: center">
                        <div class="longitudinaldivfirst" style="width:2px;height: 100%;float: left"></div>
                        <div style="color: white;margin-top: 10vh"  ng-click="send()">
                        <i class="ion-ios-email-outline" style="font-size: 70px;"></i>
                        <br/>
                        <span>信息发送</span>
                        </div>
                    </td>
                </tr>
                <tr style="height: 2px">
                    <td colspan="3"><div style="clear: both" class="transversediv"></td>
                </tr>
                <tr>
                    <td ng-click="leavereview()" style="height: {{sigongeheight}}+'px';width:50%;background-color: #339999;text-align: center">
                        <div style="color: white;margin-top: 10vh" ng-click="leavereview()">
                        <i class="ion-android-checkbox-outline" style="font-size: 70px;"></i>
                        <br/>
                        <span>请假审核</span>
                        </div>
                    </td>
                    <td ng-click="classmates()" style="height: {{sigongeheight}}+'px';width:50%;background-color: #339999;text-align: center">
                        <div class="longitudinaldivthird" style="width:2px;height: 100%;float: left"></div>
                        <div style="color: white;margin-top: 10vh" ng-click="classmates()">
                        <i class="ion-ios-people-outline" style="font-size: 70px;"></i>
                        <br/>
                        <span>我的班级</span>
                        </div>
                    </td>
                </tr>
            </table>
        </ion-content>
</ion-view>
