<ion-tabs  class="tabs-icon-top tabs-color-active-positive" >

    <!-- Dashboard Tab -->
    <ion-tab  title="首页" icon-off=" icon ion-ios-keypad-outline" icon-on="ion-ios-keypad" href="#/teachers_tab/index">
        <ion-nav-view name="teachers_index"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人信息" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/teachers_tab/information">
        <ion-nav-view name="teachers_information"></ion-nav-view>
    </ion-tab>



</ion-tabs>